
/* html {
  box-sizing: border-box
}
/* 
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  background-color: aliceblue;
  font-size: 62.5%;
  box-sizing: inherit;
  
} 

*{
  box-sizing: border-box;
}

#opening-text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
}
#title {

  color: teal;
  font-size: 5.4rem ;

}

.easy-btn {
  font-size: 20px;
}